/* Common components CSS begin */

.box
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}

.links
{
    text-decoration: none;
}

.links:hover
{
    text-decoration: none;
}

#error-message
{
    font-size: 25px;
    color: #eb3440;
}
#error-message-new
{
    font-size: 25px;
    color: #eb3440;
}

.heading-font-size
{
    font-size: 35px;
}

.regular-font-size
{
    font-size: 25px;
}

/* Common components CSS end */

/* Home page CSS begin*/

body
{
    font-family: Emberly;
}

.navigation
{
    font-size: 38px;
}

.review-items
{
    list-style: none;
}

.review-li
{
    border-bottom: #afb0b3 solid 1px;
}


/* Home page CSS end */

/* Login and signup page CSS start */

.header
{
    border-bottom: 2px solid #afb0b3;
}

/* Login and signup page CSS end */
